<div class="row">
    <center><div class="alert alert-warning"><%= flash[:success] %></div></center>
	<iframe src="https://docs.google.com/forms/d/1ix3kUhCxEOpJsjObeiUFNDP3oafrCivnoyvG6LhX0x0/viewform?embedded=true" width="760" height="659" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>