<div class="row">
	<center><h1><span class="glyphicon glyphicon-gift gold"></span>Registry</h1></center>

		<center>
		<h2>
			<%= link_to("Bed Bath & Beyond Registry", "https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=541043319&eventType=Wedding&pwsurl=?mcid=EM_triggeredem_emailregistryplural__allpromos", :target =>"_blank") %>
		</h2>
		<h2>

			<%= link_to("Target Registry", "http://www.target.com/wedd/registry/HL_liTVmyzOT7i0TDmm7Rg", :target => "_blank")%>
		</h2>
	</center>
</div>